.container .filters{
    color: white;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    padding: 0;
    /* background-color: green; */
}
.container button{
    color: white;
    height: 48px;
    font-size: 18px;
    background-color: #FF5A5F;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 4px;
    opacity: 0.9;
    border: 1px solid #DDDDDD;
    margin-right: 20px;
}
.locations, .amenities{
    padding: 0px 40px;
}

.locations{
    height: 100%;
    width: 25%;
    color: black;
    border-right: 1px solid #DDDDDD;
    
}
.amenities{
    color: black;
    height: 100%;
    width: 25%;
    flex: 1;
    /* text-align: center; */
    /* border-right: 1px solid #DDDDDD; */

}
.location h3, .amenities h3{
    font-weight: 600;
}
.location h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
}

