.container{
	max-width: 1000px;
	margin: 30px auto;
	height: 70px;
	width: 100%;
	border:1px #DDDDDD with radius 4px;
	
}
button{
background-color: #FF5A5F;
color :#FFFFFF;
height: 48px;
width: 20%; 
border:0;
border-radius: 4px;
	    position: absolute;
        right: 0px;
        z-index: 2;
        margin: 0 5px;
        cursor: pointer;
        transform: translateX(2px);
/*center vertically and at 30px of the right border
change opacity to 90% when the mouse is on the button*/
	
}
.buttonIn {
	    padding:10px 0;
        width: 700px;
	    height: 45px;
        position: relative;
	    border: 1px solid black;
	    border-radius: 4px;
    }
input{
	width:70%;
	height:50px;
	border:none;
        margin: 0px 5px;
        padding: 0px;
        outline: none;
        border-radius: none;
	    float:left;
    
}
.filters {
    background-color: ;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



section.filters button:hover {
    opacity: 0.9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 60px;
}

.locations {
    border: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 12px 0 5px 0;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0em;
}

.locations:hover > .pop {
    display: block;
}
.amenities:hover > .pop {
    display: block;
}

.pop, .pop ul {
    list-style-type: none;
}
.locations > .pop > li {
    margin-bottom: 20px;
    margin-top: 0px;
}

.locations > .pop > li > ul {
    padding-left: 35px;
}.locations:hover > .pop {
    display: block;
}
.amenities:hover > .pop {
    display: block;
}

.locations > .pop > li > ul > li {
    margin-bottom: 5px;
}

.amenities > .pop > li {
    margin-left: 50px;
    margin-bottom: 10px;
}
.pop {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    position: relative;
    left: -61px;
    width: 100%;
    z-index: 1;
    margin-top: 17px;
    padding: 30px 50px 30px 10px;
}
