header{
   
    width: 100%; 
    top: 0;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    /* background-color: red; */
}
.img-header {
    width: 160px;
    height: 70px;
    background-image: url('../images/hbnb.png'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
}